/* Typography code starts here */
/* vietnamese */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Mulish/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aivG4w-.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Mulish/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8amvG4w-.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Mulish/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevGw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCHPrEHJA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(./assets/fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url(./assets/fonts/Mulish-Regular.ttf);
}
html {
  scroll-behavior: smooth;
  overflow: auto;
}
body{
	font-family: Mulish;
	background: #E5E5E5;

}
.mobile_homebtn{
		display: none;
	}
	.web_home_btn{
		display: block;
	}
	.margin_web{
		margin: 0 15px;
	}
@media screen and (min-width: 1920px) {
  .container{
	width:1440px;
	max-width:100%!important;
}
}
@media screen and (max-width: 576px) {
	
	.applynow{
			font-size:36px !important;
	}
	.logo_class>img{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.footer_copyright{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	#contactForm{
		padding-right:0 !important;
		margin-right:0 !important;
	}
	.all_main_heads{
		font-size:30px !important;
	}
	.mob_enrol_title{
		font-size:24px !important;
	}
	.mob_enrol_img{
		width:24px;
	}
	.enrol_pad{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.intro{
		padding-bottom: 0px !important;
	}
	.intro_heading{
		font-size:36px !important;
	}
	.compass_bottom{
		margin: 0 !important;
	}
	.margin_web{
		margin: 0;
	}
	.mobile_homebtn{
		display: block;
	}
	.web_home_btn{
		display: none;
	}
	.redbtn{
		display: inline !important;
	}
	.logo_class{
	background: #fff;
   
    margin: 0 !important;

	}
	.margin_4{
		margin-bottom: 8px;
		padding-bottom: 8px;
	}
	.mobilenav{
		margin:0;
		padding:0;
		background-color: #fff;
	}
	.navutility{
		padding:15px;
	}
	.navutility>li:nth-child(2){
		padding-bottom:12px;
	}
	.space_0{
		padding: 0 !important;
		margin: 0 !important;
	}
	.space_top_4{
		padding: 8px !important;
		margin: 8px !important;
	}
	.space_bottom_4{
		padding-bottom: 8px !important;
		padding-top: 0 !important;
	}
	.margin_0{
		margin: 0 !important
	}
	.padding_0{
		padding: 0 !important;
	}
	.height_footer{
		height: auto !important;
		
	}
	.footer_copyright{
		width:100% !important;
		position: static !important;
	}
}
.height_footer{
		height: 40px;
	}
h1,h2,h3,h4,h5{
	font-family: Raleway !important;
	font-style: normal;
	font-weight: bold;
	line-height: 109%;
	letter-spacing: 0.02em;
}
p,a,label{
	font-family: Mulish;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}
h2{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 120%;
}
h3{
	font-size: 30px;
}
h4{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	color: #103151;
}
h1{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	line-height: 120%;
}
a:hover{
	text-decoration: none;
	color: #0D1120;
	
}
.form_heads{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 31px !important;
	line-height: 36px;
	
	color: #0D1120;
}
.redfont{
	font-family: Mulish;
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 28px;
	color: #D9000D;
}
.homenav:hover{
	color: #FFFFFF;
}
/* Typography code ends here */
/* Header section code starts here */
.bg_banner_sec{
	 background-image: url(../assets/images/home-banner-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	width:100%;
}
.intro{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-content: center;
}
.intro_heading{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 109%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.intro_para{
	font-family: Mulish;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}
.redbtn{
	background: #D9000D;
	box-sizing: border-box;
	border-radius: 5px;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 15px;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	outline: none;
    border: none;
}
.compass_bottom{
	font-family: Mulish;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.02em;
	display: block;
}
.compass_bottom>p{
	font-family: Mulish;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.applynow{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 69px;
	line-height: 105%;
	text-align: center;
	color: #0D1120;
}
.red_text{
	color: #E93742;
}
.white_text{
	color: #FFFFFF;
}
.black_text{
	color: #0D1120;
}
.bg_footer{
	background: #0D1120;
}
.bg_blue{
	background: #2B4F70;
}
.bg_skyblue{
	background: #CAE1F4;
}
.footer_copyright{
	font-family: Mulish;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	width:50%; 
	position: relative;
	bottom: 45px;
}
.footer_copyright>p,.footer_copyright>p>a{
	font-size: 14px;
}
.redbtn_see{
	background: #D9000D;
	box-sizing: border-box;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 11px 15px;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
.bg_img{
	background-image: url("../assets/images/Rectangle 1.png");
	background-repeat: no-repeat;
	background-size: auto;
    background-position: bottom;
}
.contactus>li>a{
	font-size: 14px;
}
/* Header section code ends here */