/* Typography code starts here */
html {
  scroll-behavior: smooth;
  overflow: auto;
}
body{
	font-family: sofia-pro, sans-serif;
	background: #E5E5E5;
}
.mobile_homebtn{
		display: none;
	}
	.web_home_btn{
		display: block;
	}
	.margin_web{
		margin: 0 15px;
	}
@media screen and (min-width: 1920px) {
  .container{
	width:1440px;
	max-width:100%!important;
}
}
@media screen and (max-width: 576px) {
	
	.applynow{
			font-size:36px !important;
	}
	.logo_class>img{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.footer_copyright{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	#contactForm{
		padding-right:0 !important;
		margin-right:0 !important;
	}
	.all_main_heads{
		font-size:30px !important;
	}
	.mob_enrol_title{
		font-size:24px !important;
	}
	.mob_enrol_img{
		width:24px;
	}
	.enrol_pad{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.intro{
		padding-bottom: 0px !important;
	}
	.intro_heading{
		font-size:36px !important;
	}
	.compass_bottom{
		margin: 0 !important;
	}
	.margin_web{
		margin: 0;
	}
	.mobile_homebtn{
		display: block;
	}
	.web_home_btn{
		display: none;
	}
	.redbtn{
		display: inline !important;
	}
	.logo_class{
	background: #fff;
   
    margin: 0 !important;

	}
	.margin_4{
		margin-bottom: 8px;
		padding-bottom: 8px;
	}
	.mobilenav{
		margin:0;
		padding:0;
		background-color: #fff;
	}
	.navutility{
		padding:15px;
	}
	.navutility>li:nth-child(2){
		padding-bottom:12px;
	}
	.space_0{
		padding: 0 !important;
		margin: 0 !important;
	}
	.space_top_4{
		padding: 8px !important;
		margin: 8px !important;
	}
	.space_bottom_4{
		padding-bottom: 8px !important;
		padding-top: 0 !important;
	}
	.margin_0{
		margin: 0 !important
	}
	.padding_0{
		padding: 0 !important;
	}
	.height_footer{
		height: auto !important;
		
	}
	.footer_copyright{
		width:100% !important;
		position: static !important;
	}
}

h1,h2,h3,h4,h5{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: 109%;
	letter-spacing: 0.02em;
}
p,a,label{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
}
h2{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 39px;
	line-height: 120%;
}
h3{
	font-size: 30px;
}
h4{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	color: #103151;
}
h1{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	line-height: 120%;
}
a:hover{
	text-decoration: none;
	color: #0D1120;
	
}
footer#contactUs a:hover {
	color:#D9000D;
	text-decoration: underline;
}
.form_heads{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 31px !important;
	line-height: 36px;
	
	color: #0D1120;
}
.redfont{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 28px;
	color: #D9000D;
}
.homenav:hover{
	color: #FFFFFF;
}
header li.nav-item {
  padding: 0 15px;

}
header li.nav-item a {
	font-weight: normal;
}
/* Typography code ends here */
/* Header section code starts here */
.bg_banner_sec{
	 background-image: url(../assets/images/home-banner-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	width:100%;
}
.intro{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-content: center;
}
.intro_heading{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 109%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.intro_para{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}
footer .intro_para a {
	color: #D9000D;
}
.redbtn{
	background: #D9000D;
	box-sizing: border-box;
	border-radius: 5px;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 9px 15px 15px;
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	outline: none;
    border: none;
}
.redbtn_see:hover {
	text-decoration: none;
  background: #0d1120;
}
.compass_bottom{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.02em;
	display: block;
}
.compass_bottom>p{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.applynow{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 69px;
	line-height: 105%;
	text-align: center;
	color: #0D1120;
}
.red_text{
	color: #E93742;
}
.white_text{
	color: #FFFFFF;
}
.black_text{
	color: #0D1120;
}
.bg_blue{
	background: #2B4F70;
}
.bg_skyblue{
	background: #CAE1F4;
}
.footer_copyright{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
}
.footer_copyright>p,.footer_copyright>p>a{
	font-size: 14px;
}
.redbtn_see{
	background: #D9000D;
	box-sizing: border-box;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 9px 15px 15px;
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
.redbtn_see:hover {
	text-decoration: none;
  background: #0d1120;
  color: #fff;
}
.bg_img{
	background-image: url("../assets/images/Rectangle 1.png");
	background-repeat: no-repeat;
	background-size: auto;
    background-position: bottom right;
}
.bg_footer{
	background: #0D1120;
	position: relative;
	padding: 20px 0;
}

.contactus>li>a{
	font-size: 14px;
}
@media screen and (min-width: 576px) {
	.footerImg {
		position: absolute;
		bottom: 60px;
		right: 60px;
	}
}
/* Header section code ends here */