.sidebarback_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    height:auto;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
  /*   background-image: url(../images/sidebar-6.png); */
    opacity:0.2;
     background-color: orange;
     background-image: url(../images/sidebar-6.png);
}
.sidebarback_img:before {
    opacity: .33;
    background: #000000;
}
.sidebar-wrapper {
    position: relative;
	height: 100%;
    width: auto;
    z-index: 4;
    padding-bottom: 100px;
    background-color: transparent;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%), 0 4px 20px 0 rgb(0 0 0 / 19%);
	border-radius:0;
}
.bg_plain{
	background-color: transparent;
}

.bg_plain:hover{
	background-color: #f443364a;
}
.bg_plain:active{
	background-color: #f443364a !important;
}
.list-group-item-action:focus, .list-group-item-action:hover{
	background-color: #f443364a !important;
}
.display-para{
	line-height:30px;	
	letter-spacing:0.5px;
}
.list-group-flush:last-child .list-group-item:last-child{
	border-bottom-width: 1px;
}