/* Typography code starts here */

html {
  scroll-behavior: smooth;
  overflow: auto;
}
body{
	font-family: sofia-pro, sans-serif;
	background: #E5E5E5;
	overflow: auto;
}

body nav.primary {
 	display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 0px 15px 0;
  align-items: center;
}
nav a {
  color: #0e1120;
  font-weight: normal;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 6px;
  padding-top: 20px;
}
.mobile_homebtn{
		display: none;
	}
	.web_home_btn{
		display: block;
	}
	.margin_web{
		margin: 0 15px;
	}
@media screen and (min-width: 1440px) {
  .container{
		width:1440px;
		max-width:1440px!important;
	}
}
@media screen and (max-width: 576px) {
	
	.applynow{
			font-size:36px !important;
	}
	.logo_class>img{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.footer_copyright{
		padding-left:0 !important;
		padding-right:0 !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	#contactForm{
		padding-right:0 !important;
		margin-right:0 !important;
	}
	.all_main_heads{
		font-size:30px !important;
	}
	.mob_enrol_title{
		font-size:24px !important;
	}
	.mob_enrol_img{
		width:24px;
	}
	.enrol_pad{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.intro{
		padding-bottom: 0px !important;
	}
	.intro_heading{
		font-size:36px !important;
	}
	.compass_bottom{
		margin: 0 !important;
	}
	.margin_web{
		margin: 0;
	}
	.mobile_homebtn{
		display: block;
	}
	.web_home_btn{
		display: none;
	}
	.redbtn{
		display: inline !important;
	}
	.logo_class{
	background: #fff;
   
    margin: 0 !important;

	}
	.margin_4{
		margin-bottom: 8px;
		padding-bottom: 8px;
	}
	.mobilenav{
		margin:0;
		padding:0;
		background-color: #fff;
	}
	.navutility{
		padding:15px;
	}
	.navutility>li:nth-child(2){
		padding-bottom:12px;
	}
	.space_0{
		padding: 0 !important;
		margin: 0 !important;
	}
	.space_top_4{
		padding: 8px !important;
		margin: 8px !important;
	}
	.space_bottom_4{
		padding-bottom: 8px !important;
		padding-top: 0 !important;
	}
	.margin_0{
		margin: 0 !important
	}
	.padding_0{
		padding: 0 !important;
	}
	.height_footer{
		height: auto !important;
		
	}
	.footer_copyright{
		width:100% !important;
		position: static !important;
	}
}
.height_footer{
		height: 40px;
	}
body{
	overflow: hidden;
}
h1,h2,h3,h4,h5{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: 109%;
	letter-spacing: 0.02em;
}
p,a,label{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}
h2{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 39px;
	line-height: 120%;
}
h3{
	font-size: 30px;
}
h4{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	color: #103151;
}
h1{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 53px;
	line-height: 120%;
}
a:hover{
	text-decoration: none;
	color: #0D1120;
	
}
.form_heads{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 31px !important;
	line-height: 36px;
	
	color: #0D1120;
}
.redfont{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 28px;
	color: #D9000D;
}
.homenav:hover{
	color: #FFFFFF;
}
/* Typography code ends here */
/* Header section code starts here */

.navbar-brand.logo_className {
	padding-top: 16px;
	padding-bottom: 17px;
}
.bg_banner_sec{
	background-image: url(../images/home-banner-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
	width:100%;
}
.bg_banner_sec_2{
	background-image: url(../images/home-banner-bg-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
	background-position: center;
	width:100%;
	padding-top: 30px;
	padding-bottom: 70px;
}
.intro{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	align-content: center;
}
.intro_heading{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-size: 60px;
	line-height: 109%;
 	font-weight: 800;
	color: #FFFFFF;
	margin: 50px 0 20px;
}
.intro_para{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.5em;
	color: #FFFFFF;
}
.redbtn{
	background: #D9000D;
	box-sizing: border-box;
	border-radius: 5px;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 15px 15px;
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	outline: none;
    border: none;
}
div.program_intro {
  /*margin-top: -60px;*/
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px 10px 0 0;
/*  box-shadow: 5px -195px 25px 3px #002f5942;*/
}
.compass_bottom{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	display: block;
}
.compass_bottom>p{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
.applynow{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 69px;
	line-height: 105%;
	text-align: center;
	color: #0D1120;
}
.red_text{
	color: #E93742;
}
.white_text{
	color: #FFFFFF;
}
.black_text{
	color: #0D1120;
}
.bg_footer{
	background: #0D1120;
}
.bg_navy{
	background: #103151;
}
.bg_lightblue{
	background:  #044989;
}
.bg_blue{
	background: #2B4F70;
}
.bg_skyblue{
	background: #CAE1F4;
}
footer h2 {
	color:  #fff;
}
.footer_copyright{
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	width:50%; 
	position: relative;
	bottom: 45px;
}
.footer_copyright>p,.footer_copyright>p>a{
	font-size: 14px;
}
.redbtn_see{
	background: #D9000D;
	box-sizing: border-box;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 10px 15px 15px;
	font-family: sofia-pro, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
.redbtn_see:hover {
	text-decoration: none;
  background: #0d1120;
  color: #fff;
}
.bg_img{
	background-image: url("../images/Rectangle 1.png");
	background-repeat: no-repeat;
	background-size: auto;
    background-position: bottom;
}
.bg_img_2{
	background-image: url("../images/Group 92.png");
	background-repeat: no-repeat;
	background-size: auto;
   background-position: bottom;
}
.bg_img
.contactus>li>a{
	font-size: 14px;
}

/* Header section code ends here */